.App {
  text-align: center;
  width: '100';
  display: 'flex';
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.App-logo {
  width: '100';
  display: 'flex';
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.responsive { width: '100%';
  padding: '60px'; 
  color:white;
  background-color: black;
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}
.body {
  width: '100%';
  display: 'flex';
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black; /* or any other color you prefer */
}
  .box {
    width: '100%';
    display: 'flex';
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 100vh;
  }
  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: '100';
  display: 'flex';
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.App-link {
  width: '100';
  display: 'flex';
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
